<div class="wrapper flex-box a-center center">
    <div class="auth-container">
        <app-input [(value)]="controls['username'].value"
                   [error_message]="controls['username'].error"
                   (focus_in)="clearErrorOnControl('username')"
                   label="User name"
                   [size]="48"
                   [is_disabled]="is_sending"
                   class="mar-b-16"
        >
        </app-input>
        <app-input [(value)]="controls['password'].value"
                   [error_message]="controls['password'].error"
                   (focus_in)="clearErrorOnControl('password')"
                   label="Password"
                   [size]="48"
                   input_type="password"
                   [is_disabled]="is_sending"
                   class="mar-b-16"
        >
        </app-input>

        <app-button [size]="48"
                    (handle_click)="login()"
                    [is_loading]="is_sending"
        >
            Log In
        </app-button>
    </div>
</div>
